.navbar .menu{
    border: 2px solid white;
    border-radius: 25px;
    color: azure;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(108, 0, 155), rgba(0,0,151,0.52));
    padding: 7px 15px;
    margin: 0 2rem;


}
.container1{
    display: flex;
    
}