.ammar{
    position: absolute;
    left: 80%;
    bottom:10%;

}

.pfp{
    height: 50%;
    width: 50%;
    border-radius: 100%;
    box-shadow: 10px 10px rgb(212, 208, 208);
}
.ammar-text{
    align-content: center;
    
    font-size: large;
}
@media screen (max-width:1200px) {
.ammar{
    position: absolute;
    left: 50%;
    top:90%;

    }

.pfp{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: 5px 5px rgb(212, 208, 208);
}
.ammar-text{
    align-content: center;
    
    color: white;
    font-size: large;
}

    
}
.navbar .menu{
    border: 2px solid white;
    border-radius: 25px;
    color: azure;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(108, 0, 155), rgba(0,0,151,0.52));
    padding: 7px 15px;
    margin: 0 2rem;


}